<!DOCTYPE html>
<html>
  <head>
    <title>
        {% block title%}{% endblock %}
    </title>  
          
    {% block meta %}
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="The Couchbase PHP Beer-Sample App">
        <meta name="author" content="Couchbase, Inc. 2012">
    {% endblock %}
        
    {% block javascript %}
        <script src="{{ asset ( 'bootstrap/js/jquery-1.9.1.min.js' ) }}" ></script>
        <script>window.jQuery || document.write('<script src="{{ asset('js/jquery.js') }}"><\/script>')</script>
        <script src="{{ asset('bootstrap/js/bootstrap.js') }}"></script>
        <!-- {{ "<script src=\"{{ asset('bundles/braincraftedbootstrap/js/bootstrap.compiled.js') }}\"></script>" }}-->
        <script src="{{ asset('bundles/galaxybackend/js/application.js') }}"></script>
        <script src="{{ asset('bundles/galaxybackend/js/google-code-prettify.js') }}"></script>
        <script src="{{ asset('bundles/galaxybackend/js/widgets.js') }}"></script>
        <script src="{{ asset('bundles/galaxybackend/js/jquery.numberMask.js') }}"></script>
        <script src="{{ asset ('bootstrap/js/jquery.form.js' ) }}" ></script>
        <script>
            $( document ).ready(function() {
                $('#myTab a').click(function (e) {
                    if($(this).attr('href').charAt(0)=='#')
                    {
                        e.preventDefault();
                        $(this).tab('show');
                    }
                });
                $('#myTab2 a').click(function (e) {
                    if($(this).attr('href').charAt(0)=='#')
                    {
                        e.preventDefault();
                        $(this).tab('show');
                    }
                });
                $('#myTab3 a').click(function (e) {
                    if($(this).attr('href').charAt(0)=='#')
                    {
                        e.preventDefault();
                        $(this).tab('show');
                    }
                });
                var points = 1000000000;
                var length = "galaxy_backendbundle_form_space_segmenttype_length";
                var percent = "galaxy_backendbundle_form_space_segmenttype_percent";
                
                function seeTotal(){
                   var totalPoints = total($("form.segments_form #"+length),true)  
                   $('.totalPoints').val(totalPoints);
                    chengeClass(parseInt(totalPoints), points, $(".control-group").has('.totalPoints'));
        
                   var totalProcent =  total($("form.segments_form #"+percent),false)
                   $('.totalProcent').val(totalProcent+'%');
                   chengeClass(parseFloat(totalProcent), 100, $(".control-group").has('.totalProcent'));
                }
                function chengeClass(nowHas, need, object){
                   if(nowHas!=need){
                       object.removeClass('success');
                       object.addClass('error');
                   }
                   else{
                      object.removeClass('error');
                      object.addClass('success');
                   }
                }
                seeTotal();
                
                $('form.segments_form').on('change', 'input', function(){
                   var segment = $('form.segments_form').has(this);

                   var lengthInp = segment.children().find("#"+length);
                   var percentInp = segment.children().find("#"+percent);
                   
                   if($(this).attr('id') == length){
                       percentInp.val((($(this).val()/points)*100).toFixed(2));
                   }
                   if($(this).attr('id') == percent){
                       lengthInp.val(Math.round((points/100)*$(this).val()));
                   }
                   seeTotal();
                });

                
                function total(bloks, int){
                    var total = 0;
                    for(var i=0; i<bloks.size();i++){
                        if(int==true)
                        total += parseInt(bloks.eq(i).val());
                        else
                        total += parseFloat(bloks.eq(i).val());
                    }
                    return total;
                }
                
             $('a#ajaxHtml').on('click',function(){
                var href = $(this).data('action'); 
                var success = $(this).data('success');
                if(!$(success).hasClass('in'))
                {
                    $.ajax({
                        url: href,
                        success: function(html){
                            $(success+' .accordion-inner').replaceWith(html);
                        }
                    }); 
                }
                
             })   
                
             $('body').delegate(".ajaxForm a#sendAjaxForm", "click", function(){
                $('.ajaxForm').has(this).ajaxSubmit({
                    'success' : function( data ){
                        if(data['result']=='success'){
                            $('#hiddenMassageSuccess').clone().prependTo('.ajaxForm[id = '+data['id']+']').show();
                        }
                        else{
                            $('#hiddenMassageError').clone().prependTo('.ajaxForm[id = '+data['id']+']').show(); 
                        }
                    }
                });
            });
                
    });
    </script>
    {% endblock %}
        
    {% block css %}
        <!-- Use precompiled CSS files -->
        <!-- {{ "{% include 'BcBootstrapBundle::_stylesheets.html.twig' %}" }} -->
        <!-- Use Assetic -->
        <!-- {{ "<link rel=\"stylesheet\" href=\"{{ asset('bundles/braincraftedbootstrap/css/bootstrap.compiled.css') }}\">" }} -->
        <link rel="stylesheet" href="{{ asset ( 'bootstrap/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset ( 'bundles/galaxybackend/css/docs.css' ) }}"/>
        <link rel="stylesheet" href="{{ asset ( 'bundles/galaxybackend/css/bc-docs.css' ) }}"/>
        <link rel="stylesheet" href="{{ asset ( 'bundles/galaxybackend/css/google-code-prettify.css' ) }}"/>
        {% include 'BcBootstrapBundle::_html5shiv.html.twig' %}
    {% endblock %}

  </head>
<body data-spy="scroll" data-target=".bs-docs-sidebar">
       <!-- Navbar
    ================================================== -->
    {#<div class="navbar navbar-inverse navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="http://qwer.com.ua/">ITCompany</a>
          <div class="nav-collapse collapse">
            {{ knp_menu_render('GalaxyBackEndBundle:Builder:navbar', {'nav_type': 'tabs'}) }}
          </div>
        </div>
      </div>
    </div>#}
    {% block menu %}
       {% render controller("GalaxyBackEndBundle:Default:menu", {'route': app.request.get('_route')})  %}
    {% endblock %}


    {# 
    <div class="tab-content">
    <div class="tab-pane active" id="home">.w.</div>
    <div class="tab-pane" id="profile">..e.</div>
    <div class="tab-pane" id="messages">.r..</div>
    <div class="tab-pane" id="settings">.t..</div>
    </div>  
#}

    <!--<header class="jumbotron subhead" id="overview">
        <div class="container">
            <h1>Base CSS</h1>
            <p class="lead">Fundamental HTML elements styled and enhanced with extensible classes.</p>
        </div>
    </header> -->
  <div class="container">

     

    <!-- Docs nav
    ================================================== -->
   <!-- <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li><a href="#dropdowns"><i class="icon-chevron-right"></i> Dropdowns</a></li>
          <li><a href="#buttonGroups"><i class="icon-chevron-right"></i> Button groups</a></li>
          <li><a href="#buttonDropdowns"><i class="icon-chevron-right"></i> Button dropdowns</a></li>
          <li><a href="#navs"><i class="icon-chevron-right"></i> Navs</a></li>
          <li><a href="#navbar"><i class="icon-chevron-right"></i> Navbar</a></li>
          <li><a href="#breadcrumbs"><i class="icon-chevron-right"></i> Breadcrumbs</a></li>
          <li><a href="#pagination"><i class="icon-chevron-right"></i> Pagination</a></li>
          <li><a href="#labels-badges"><i class="icon-chevron-right"></i> Labels and badges</a></li>
          <li><a href="#typography"><i class="icon-chevron-right"></i> Typography</a></li>
          <li><a href="#thumbnails"><i class="icon-chevron-right"></i> Thumbnails</a></li>
          <li><a href="#alerts"><i class="icon-chevron-right"></i> Alerts</a></li>
          <li><a href="#progress"><i class="icon-chevron-right"></i> Progress bars</a></li>
          <li><a href="#misc"><i class="icon-chevron-right"></i> Misc</a></li>
        </ul>
      </div>
      <div class="span9"> -->  
            {% block body %} {% endblock %}
     <!-- </div>
    </div> -->
  </div>
        <!-- Footer
    ================================================== -->
   {% block footer %}
        <footer class="footer">
          <div class="container">
            <p class="pull-right"><a href="#">Back to top</a></p>        
            {% render controller("GalaxyBackEndBundle:Default:footer") %}
          </div>
        </footer> 
    {% endblock %}
  </body>
</html>