{% extends 'GalaxyBackendBundle::layout.html.twig' %}

{% block body %} 

<div style="float: left; width: 200px">
    <div>
        <a href="{{path('prize_create')}}">
            <button style="width: 62%" class="btn btn-success"><i class="icon-plus"></i>Добавить</button>
        </a>
    </div>
    <table class="table table-bordered table-hover table-striped myStyle">
    {% for id, prize in prizes %}
            <tr>
                <td class="menuPrize"><a href="{{path("prize_list", {id: id})}}"><span class="backing">{{ prize['name'] }}</span></a></td>
                <td class="menuPrizeIcon"><form style="margin-bottom:2px;" action="{{path("prize_delete", {id: id})}}">
                    <button type=submit class="btn btn-danger btn-small"><i class="icon-remove"></i></button>
                </form></td>
            </tr>
    {% endfor %}
    </table>
        <div>
            <a href="{{path('prize_create')}}">
                <button style="width: 62%" class="btn btn-success"><i class="icon-plus"></i>Добавить</button>
            </a>
        </div>        
    </div>
    <div style="float:left; width: 1080px; margin-left: 20px;">
        
        <form method="POST" action="{{path('prize_update', {id: main['id']})}}"  {{ form_enctype(prizeForm) }}>
            <div>
                <div style="float:left; width: 260px">
                    <div><div class="lbl">Название</div> {{ form_widget(prizeForm.name) }}</div>
                    <div><div class="lbl">Флиппер</div> {{ form_widget(prizeForm.flipper) }} </div>
                    <div><div class="lbl">SMS код</div> {{ form_widget(prizeForm.sms) }}</div>
                    <div><div class="lbl">Коэф. штрафа (%)</div>{{ form_widget(prizeForm.penalty) }}</div>
                </div>
                <div style="float:left; width:390px">     
                    <div> Текст уведомления о полном наборе элементов группы<br/> {{ form_widget(prizeForm.message1) }}</div>
                    <div> Уведомления на электронную почту пользователя<br/> {{ form_widget(prizeForm.message2) }} </div>
                </div>
                <div>
                    <img src="{{main['img1']}}"/>
                    <img src="{{main['img2']}}"/>
                </div>
           </div>
                <br />
                <div style="clear: left;"></div>
                <button class="btn btn-primary" type="submit">save</button>
            </form>
            <a href="{{path('element_create', {prizeId: main['id']})}}">
                <button class="btn btn-success">Добавить</button>
            </a>
            <table class="table table-bordered table-hover table-striped">
                <thead><tr>
                        <td>id</td>
                        <td>name</td>
                        <td>available</td>
                        <td>visible</td>
                        <td>price</td>
                        <td>account</td>
                        <td>img1</td>
                        <td>img2</td>
                        <td>blocked</td>
                        <td>actions</td>
                    </tr></thead>
        {% for element in main.elements%}
                <tr>
                    <td>{{element.id}}</td>
                    <td>{{element.name}}</td>
                    <td>{{element.available}}</td>
                    <td>{{element.visible}}</td>
                    <td>{{element.price}}</td>
                    <td>{{element.account}}</td>
                    <td><img src="http://gala.my{{ element.img2 }}"></td>
                    <td><img src="http://gala.my{{ element.img2 }}"></td>
                    <td>{{element.blocked}}</td>
                    <td>
                        <a href="{{path('element_edit', {id: element.id})}}"><button class="btn btn-primary">edit</button></a>
                        <form action="{{path('element_delete', {prizeId: main['id'], id: element.id})}}">
                            <button class="btn btn-danger" type="submit">delete</button>
                        </form>
                    </td>
                </tr>
        {% endfor %}
            </table>
        
        </div>
{% endblock %}