{% extends 'GalaxyBackendBundle::layout.html.twig' %}

{% block body %} 

<div style="float: left; width: 200px">
    <div>
        <a href="{{path('prize_create')}}">
            <button style="width: 62%" class="btn btn-success"><i class="icon-plus"></i>Добавить</button>
        </a>
    </div>
    <table class="table table-bordered table-hover table-striped myStyle">
    {% for id, prize in prizes %}
            <tr>
                <td class="menuPrize"><span class="backing">{{ prize['name'] }}</span></td>
                <td class="menuPrizeIcon">
                    <div class="btn-group">
                        <div style="float:left;">
                            <a href="{{path("prize_list", {id: id})}}"><button class="btn btn-small"><i class="icon-edit"></i></button></a>
                        </div>
                        <form style="margin-bottom:2px;" action="{{path("prize_delete", {id: id})}}">
                            <button type=submit class="btn btn-danger btn-small"><i class="icon-remove"></i></button>
                        </form>
                    </div>
                </td>
            </tr>
    {% endfor %}
        </table>
        <div>
            <a href="{{path('prize_create')}}">
                <button style="width: 62%" class="btn btn-success"><i class="icon-plus"></i>Добавить</button>
            </a>
        </div>        
    </div>
    <div style="width: 780px; margin-left: 5px; float: left; border: 1px solid rgb(224, 224, 224); border-radius: 5px 5px 5px 5px; padding: 5px;">

        <form method="POST" action="{{path('prize_update', {id: main['id']})}}"  {{ form_enctype(prizeForm) }}>
                <div style="float:left; width: 280px;">
                    <div><div class="lbl">Название</div> {{ form_widget(prizeForm.name) }}</div>
                    <div><div class="lbl">Флиппер</div> {{ form_widget(prizeForm.flipper) }} </div>
                    <div><div class="lbl">SMS код</div> {{ form_widget(prizeForm.sms) }}</div>
                    <div><div class="lbl">Коэф. штрафа (%)</div>{{ form_widget(prizeForm.penalty) }}</div>
                </div>
                <div style="float:left; width:350px;">     
                    <div> Текст уведомления о полном наборе элементов группы<br/> {{ form_widget(prizeForm.message1) }}</div>
                    <div> Уведомления на электронную почту пользователя<br/> {{ form_widget(prizeForm.message2) }} </div>
                </div>
                <div>
                    <button class="btn btn-large btn-primary" type="submit">Сохранить</button>
                </div>
                <div style="float:left; width:480px;">
                    <div style="float:left; width:240px">
                        <img src="{% if main['img1'] != '' %}{{main['img1']}}{% else %}/bundles/galaxybackend/img/no_photo.png{% endif %}"/><br/>
                        {{ form_widget(prizeForm.imgfile1) }}
                    </div>
                    <div style="float:left; width:240px;">
                         <img src="{% if main['img2'] != '' %}{{main['img2']}}{% else %}/bundles/galaxybackend/img/no_photo.png{% endif %}"/><br/>
                        {{ form_widget(prizeForm.imgfile2) }}
                    </div>
                </div>
            
            {{ form_rest(prizeForm)}}
            
        </form>
        <div style="clear: left;"></div>
        <a href="{{path('element_create', {prizeId: main['id']})}}">
            <button class="btn btn-success"><i class="icon-plus"></i>Добавить</button>
        </a>
        <table class="table table-bordered table-hover table-striped" style="margin-top:10px; margin-bottom: 10px;">
            <thead>
                <tr>
                    <td>id</td>
                    <td>name</td>
                    <td>available</td>
                    <td>visible</td>
                    <td>price</td>
                    <td>account</td>
                    <td>img1</td>
                    <td>img2</td>
                    <td>blocked</td>
                    <td>actions</td>
                </tr>
            </thead>
        {% for element in main.elements%}
            <tr>
                <td>{{element.id}}</td>
                <td>{{element.name}}</td>
                <td>{{element.available}}</td>
                <td>{{element.visible}}</td>
                <td>{{element.price}}</td>
                <td>{{element.account}}</td>
                <td class="tdImg"><img width="80px" src="http://gala.my{{ element.img2 }}"></td>
                <td class="tdImg"><img width="80px" src="http://gala.my{{ element.img2 }}"></td>
                <td>{{element.blocked}}</td>
                <td>
                    <div class="btn-group">
                        <div style="float:left;">
                            <a href="{{path('element_edit', {id: element.id})}}"><button style="width:90%;" class="btn btn-small"><i class="icon-edit"></i></button></a>
                        </div>
                        <form action="{{path('element_delete', {prizeId: main['id'], id: element.id})}}">
                            <button style="width:85%; margin-left: -6px;" class="btn btn-danger btn-small" type="submit"><i class="icon-remove"></i></button>
                        </form>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </table>
        <a href="{{path('element_create', {prizeId: main['id']})}}">
            <button class="btn btn-success"><i class="icon-plus"></i>Добавить</button>
        </a>

    </div>
{% endblock %}