{% extends 'GalaxyBackendBundle::layout.html.twig' %}

{% block body %}
<div class="container" style="margin-top: 20px; border: 1px solid rgb(224, 224, 224); border-radius: 5px 5px 5px 5px; padding: 20px;">
    <form action="{{ path('create_document', {type: type}) }}" method="post" {{ form_enctype(form) }}>
        <div class="creation_prizes" style="float: left; margin-bottom: 20px; width: 950px;">{{form_row(form.OA1)}}<span style="margin-left: 20px;">{{form_row(form.account)}}</span><span style="margin-left: 20px;">{{form_row(form.summa1)}}</span></div>
        <div class="point_mes">{{form_row(form.text1)}}</div>
{{form_rest(form)}}
            <button type="submit" class="btn btn-success"><i class="icon-plus"></i>Создать</button>
    </form>
</div>
{% endblock body %}