{% extends 'GalaxyBackendBundle::layout.html.twig' %}

{% block body %}
<div class="container" style="margin-top: 20px; border: 1px solid rgb(224, 224, 224); border-radius: 5px 5px 5px 5px; padding: 20px;">
    <h3>id {{document['id']}}: {{document['date']}}</h3>
    <form action="{{ path('update_document', {'id': document['id']}) }}" method="post" {{ form_enctype(form) }}>
        <div style="float: left;">{{form_row(form.OA1)}}<span style="margin-left: 10px;">{{form_row(form.account)}}</span></div>
{{form_rest(form)}}
<br />
<div class="btn-group">
    <button {% if document['status'] == 2 %}disabled="disabled"{%endif%} type="submit" class="btn btn-primary {% if document['status'] == 2 %}disabled{%endif%}">Изменить</button>
    {%if document['status'] == 1 %}
    <button type="button" onClick="location.href='{{path('approve_document', {'id': document['id']})}}'" class="btn btn-success">Провести</button>
    {% elseif document['status'] == 2 %}
       <button type="button" onClick="location.href='{{path('return_document', {'id': document['id']})}}'" class="btn btn-danger">Откатить</button>
    {% endif %}
</div>
</form>

<br />
<a href="{{ path('document_list', {type: document['documentType']})}}">
    <button class="btn" type="button">Вернутся к списку</button>
</a>
</div>
{% endblock body %}