{% extends 'GalaxyBackendBundle::contentLayout.html.twig' %}

{% block body %} 
     <div style="float:left; width: 980px;margin-top: 30px">
         <div style="width: 850px; float:left;">Поиск</div>
         <div style="width: 100px; float:right;"><button id="button" type="submit" class="btn btn-large btn-info">Поиск</button></div>
         <form action="{{ path('search_message') }}" method="post" {{ form_enctype(form) }}>
             
                 <div style = "float:left;">{{ form_widget(form.messageId) }}</div>
                 {{ form_widget(form.userId) }}
                 {{ form_widget(form.title)}}
                 {{ form_widget(form.text) }}
                 {{ form_widget(form.visible) }}
                 {{ form_widget(form.moderatorAccepted) }}
                 {{ form_widget(form.theme) }}
                 {{ form_widget(form.age) }}
                 
            
             </form>
         </div>
    <div style="float:left; width: 800px;">
            <table class="table table-bordered table-hover table-striped" style="margin-top: 20px;">
                <thead><tr>
                        <td>id</td>
                        <td class="td">Тема</td>
                        <td class="td">Назване</td>
                        <td class="tdText">Текст</td>
                        <td class="tdVisible">Видимость</td>
                        <td>&nbsp;</td>
                    </tr></thead>
                <a href="{{ path('new_message') }}">
                    <button class="btn btn-success"><i class="icon-plus"></i>
                        <span style="margin-left: 5px;">Добавить</span>
                    </button></a><br>
        {% for message in messages%}
                    
            {% if message.visible == '1' %}
                {% set color = '#5BB75B' %}
            {% elseif message.visible == '' %}
                {% set color = '#fff' %}
            {% else %}
            {% endif %}
                    
                <tr style="background: {{color}}">
                    <td>{{message.id}}</td>
                    <td>{% if message.theme is defined  %}{{message.theme.title}}{% endif %}</td>
                    <td>{% if message.title is defined %}{{message.title}}{% endif %}</td>
                    <td>{{message.text|raw}}</td>
                    <td class="tdVisible">{{message.visible}}</td>
                    <td>
                        <div class="btn-group">
                            <a href="{{ path('show_message', {id: message.id}) }}" class='btn' target="_blank">
                                <i class="icon-edit"></i>
                            </a>
                            <a class="btn btn-danger" data-toggle="modal" href="{{ path('delete_message', {id: message.id}) }}">
                                <i class="icon-remove"></i>
                            </a>
                        </div>
                    </td>
                </tr>
        {% endfor %}
            </table>
             <a href="{{ path('new_message') }}">
                 <button class="btn btn-success"><i class="icon-plus"></i>
                     <span style="margin-left: 5px;">Добавить</span>
                 </button></a><br>
{% if pagesCnt > 1 %}
<div class="pagination">
  <ul>
    {% if page != 1 %}
    <li>
        <a href="{{ path('messages_list', {page: page - 1}) }}">Prev</a>
    </li>
    <li><a href="{{ path('messages_list', {page: page - 1}) }}">{{page - 1}}</a></li>
    {% endif %}
    
    {% set blockCnt = (page == 1)? 10 : 11 %}
    <li class="disabled"><a>{{page}}</a></li>
    {% for i in 1..blockCnt %}
        {% if (page + i) <= pagesCnt %}
            <li><a href="{{ path('messages_list', {page: page + i}) }}">{{page + i}}</a></li>
        {% endif %}
    {% endfor %}
    
    {% if page != pagesCnt %}
    <li><a href="{{ path('messages_list', {page: page + 1}) }}">Next</a></li>
    {% endif %}
  </ul>
</div>
{% endif %}
        </div>
{% endblock %}