{% extends 'GalaxyBackendBundle::contentLayout.html.twig' %}

{% block body %} 
     <form action="{{ path('search_message') }}" method="post" {{ form_enctype(form) }}>
     <div style="float:left; width: 980px;margin-top: 30px">
         <div style="width: 1000px; float:left; font-size: 22px; text-align: center; ">Поиск
         <div style="border-bottom: 1px solid rgb(224, 224, 224); margin-top: 10px;"></div></div>
         <div style="width: 100px; float:right;"><button title="Поиск" style="width: 90px;" id="button" type="submit" class="btn btn-large btn-info"><i class="icon-search"></i></button></div>
         
             
                 <div style = "float:left;">{{ form_widget(form.messageId) }}</div>
                 {{ form_widget(form.userId) }}
                 {{ form_widget(form.title)}}
                 {{ form_widget(form.text) }}
                 {{ form_widget(form.visible) }}
                 {{ form_widget(form.moderatorAccepted) }}
                 {{ form_widget(form.theme) }}
                 {{ form_widget(form.age) }}
                 
            
             </form>
         </div>
    <div style="float:left; width: 960px; border: 1px solid rgb(224, 224, 224); border-radius: 5px 5px 5px 5px; padding: 20px;">
            <table class="table table-bordered table-hover table-striped" style="margin-top: 20px;">
                <thead><tr style="background-color: #f6f7f8; background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);">
                        <td style="padding: 4px; text-align: center;"><b>id</b></td>
                        <td style="padding: 4px; text-align: center;" class="td"><b>Тема</b></td>
                        <td style="padding: 4px; text-align: center;" class="td"><b>Назване</b></td>
                        <td style="padding: 4px; text-align: center;" class="tdText"><b>Текст</b></td>
                        <td style="padding: 4px; text-align: center;" class="tdVisible"><b>Видимость</b></td>
                        <td style="padding: 4px; text-align: center;">&nbsp;</td>
                    </tr></thead>
                <a href="{{ path('new_message') }}">
                    <button class="btn btn-success"><i class="icon-plus"></i>
                        <span style="margin-left: 5px;">Добавить</span>
                    </button></a><br>
        {% for message in messages%}
                    
            {% if message.visible == '1' %}
                {% set color = 'background-color: #dff0d8; background-image: linear-gradient(to bottom, #dff0d8, #5BB75B)' %}
            {% elseif message.visible == '' %}
                {% set color = '#fff' %}
            {% else %}
            {% endif %}
                    
                <tr style="background: {{color}}">
                    <td style="text-align: center;">{{message.id}}</td>
                    <td style="text-align: center;">{% if message.theme is defined  %}{{message.theme.title}}{% endif %}</td>
                    <td style="text-align: center;">{% if message.title is defined %}{{message.title}}{% endif %}</td>
                    <td style="text-align: center;">{{message.text|raw}}</td>
                    <td style="text-align: center;" class="tdVisible">{% if message.visible == '1' %}<i class="icon-ok"></i>{% endif %}</td>
                    <td style="width: 87px;">
                        <div class="btn-group">
                            <a title="Редактировать" href="{{ path('show_message', {id: message.id}) }}" class='btn' target="_blank">
                                <i class="icon-edit"></i>
                            </a>
                            <a title="Удалить" class="btn btn-danger" data-toggle="modal" href="{{ path('delete_message', {id: message.id}) }}">
                                <i class="icon-remove"></i>
                            </a>
                        </div>
                    </td>
                </tr>
        {% endfor %}
            </table>
             <a href="{{ path('new_message') }}">
                 <button class="btn btn-success"><i class="icon-plus"></i>
                     <span style="margin-left: 5px;">Добавить</span>
                 </button></a><br>
{% if pagesCnt > 1 %}
<div class="pagination">
  <ul>
    {% if page != 1 %}
    <li>
        <a href="{{ path('messages_list', {page: page - 1}) }}">Prev</a>
    </li>
    <li><a href="{{ path('messages_list', {page: page - 1}) }}">{{page - 1}}</a></li>
    {% endif %}
    
    {% set blockCnt = (page == 1)? 10 : 11 %}
    <li class="disabled"><a>{{page}}</a></li>
    {% for i in 1..blockCnt %}
        {% if (page + i) <= pagesCnt %}
            <li><a href="{{ path('messages_list', {page: page + i}) }}">{{page + i}}</a></li>
        {% endif %}
    {% endfor %}
    
    {% if page != pagesCnt %}
    <li><a href="{{ path('messages_list', {page: page + 1}) }}">Next</a></li>
    {% endif %}
  </ul>
</div>
{% endif %}
        </div>
{% endblock %}