{% extends 'GalaxyBackendBundle::contentLayout.html.twig' %}

{% block body %}
<form action="{{ path('update_message', {'id': message.id}) }}" method="post" {{ form_enctype(form) }}>
<div class="container" style="margin-top: 20px; border: 1px solid rgb(224, 224, 224); border-radius: 5px 5px 5px 5px; padding: 20px 20px 0 20px; width:950px;">
    <div style="float: left; width: 800px; margin-bottom: 10px;"><span style="font-size: 28px;"><b>id {{message.id}}</b></span> <span style="font-size: 28px; padding-left: 20px;">Название {{ form_widget(form.title, {'attr': {'id': 'name_mailbox'}}) }}</span></div>
    <div style="float: right; width: 140px;">
        <button type="submit" class="btn btn-large btn-primary" style="padding: 11px; margin-bottom: 5px;"><i class="icon-hdd"></i>Сохранить</button>
        <a href="{{ path('preview_message', {'id': message.id}) }}" class="control control-9 iframe cboxElement"><button style="padding: 11px; margin-bottom: 5px; width: 133px;" type="button" class="btn btn-large btn-warning"><i class="icon-eye-open"></i>Просмотр</button></a>
        <a href="{{ path('messages_list')}}"><button style="width: 133px;" class="btn btn-large btn-inverse" type="button"><i class="icon-list"></i>К списку</button></a>
    </div>
    <div style="float: left; margin-bottom: 10px; width: 800px;">Тема контента {{ form_widget(form.theme) }} <span style="padding-left: 20px;">Проверено модератором {{ form_widget(form.moderatorAccepted) }}</span> <span style="padding-left: 20px;">Опубликовать сообщение {{ form_widget(form.visible) }}</span></div>
    <!--Картинка :{% if "img" in message|keys %}<img src="{{message.img}}"/><br>{% endif %}-->
    <div style="float: left; margin-bottom: 20px; width: 800px;">Количество прыжков до вывода вопроса {{ form_widget(form.jumpsToQuestion) }} <span style="padding-left: 20px;">Возраст {{ form_widget(form.age) }}</span></div>
     <div style="float: left; margin-bottom: 20px; width: 240px; height: 250px; border: 1px solid rgb(224, 224, 224); border-radius: 5px 5px 5px 5px; padding: 5px;">
         <div id="imgfile" style="margin-left: 0px;">{% if "img1" in message|keys %}<img src="{{message.img1}}"/><br>{% else %}<img src="/bundles/galaxybackend/img/no_photo.png" />{% endif %} {{ form_widget(form.imgfile1) }}</div>
         <div id="imgfile" style="margin-left: 0px;">Удалить картинку {{form_widget(form.imageDelete1)}}</div>
         <div style="clear:left;"></div>
     </div>
    <div style="float: left; margin: 0 20px; width: 240px; height: 250px; border: 1px solid rgb(224, 224, 224); border-radius: 5px 5px 5px 5px; padding: 5px;">
         <div id="imgfile" style="margin-left: 0px;">{% if "img2" in message|keys %}<img src="{{message.img2}}"/><br>{% else %}<img src="/bundles/galaxybackend/img/no_photo.png" />{% endif %} {{ form_widget(form.imgfile2) }}</div>
         <div id="imgfile" style="margin-left: 0px;">Удалить картинку {{form_widget(form.imageDelete2)}}</div>
         <div style="clear:left;"></div>
     </div>
    <div style="float: left; margin-bottom: 20px; width: 240px; height: 250px; border: 1px solid rgb(224, 224, 224); border-radius: 5px 5px 5px 5px; padding: 5px;">
         <div id="imgfile" style="margin-left: 0px;">{% if "img3" in message|keys %}<img src="{{message.img3}}"/><br>{% else %}<img src="/bundles/galaxybackend/img/no_photo.png" />{% endif %}{{ form_widget(form.imgfile3) }}</div>
         <div id="imgfile" style="margin-left: 0px;">Удалить картинку {{form_widget(form.imageDelete3)}}</div>
         <div style="clear:left;"></div>
     </div>
     
        {% if  message.moderatorAccepted%}
            {{ form_row(form.moderatorAccepted, { 'attr': {'disabled': 'true'} }) }}
        {% endif %}
    <!--id сообщения {{ form_widget(form.messageId) }}-->
     <div id="textarea" style="width: 943px; margin-bottom: 20px;">
         {{ form_widget(form.text) }}
     </div>
     <div style="float:left; margin-bottom: 20px;">
         <div style="margin-bottom: 20px; color:#000;">
              Вопрос сообщения {{ form_widget(form.question, {'attr': {'class': 'postaquest'}}) }}
              
         </div>
         <div>
             <div style="margin-bottom: 10px;">
                <span style="font-size: 28px; padding-left: 35%;"><b>Варианты ответов:</b></span>
                {% for answer in form.answers %}
                    
                    {{ form_widget(answer, {'attr': {'class': 'ans_to_mes'}}) }}
                {% endfor %}
             </div>
                Правильный ответ {{ form_widget(form.rightAnswer) }} <span style="margin-left: 20px;">Время ожидания ответа{{ form_widget(form.seconds) }} сек.</span></div>
     </div>
            
            <div>
                <div style="padding-bottom: 20px;">
                <span style="font-size: 28px; padding-left: 35%;"><b>Поощрения</b></span>
                </div>
                <div style="border: 1px solid rgb(224, 224, 224); border-radius: 5px 5px 5px 5px; padding: 10px; margin-bottom: 5px;">
                    {{ form_widget(form.incPointsActv) }} Вкл.
                    <span style="margin: 0 20px;">Количество добавляемых игровых очков {{ form_widget(form.incPoints) }}</span>
                    {{ form_widget(form.incPointsProc) }} в %
                    <div>
                        Уведомление о событии {{ form_widget(form.incPointsMess, {'attr': {'id': 'event_notification'}}) }}
                    </div>
                </div>
                <div style="border: 1px solid rgb(224, 224, 224); border-radius: 5px 5px 5px 5px; padding: 10px; margin-bottom: 5px;">
                    {{ form_widget(form.incOwnElemActv) }} Вкл.
                    <span style="margin: 0 0 0 20px;">Увеличения минимальной принадлежности приза
                    {{ form_widget(form.incOwnElem) }} Самый мин из всех минимальных</span>
                    <div>
                        Уведомление о событии {{ form_widget(form.incOwnElemMess, {'attr': {'id': 'event_notification'}}) }}
                    </div>
                </div>
                <div style="border: 1px solid rgb(224, 224, 224); border-radius: 5px 5px 5px 5px; padding: 10px; margin-bottom: 5px;">
                    {{ form_widget(form.incDurationMinElemActv) }} Вкл.
                    <span style="margin: 0 0 0 20px;">Увеличения длительности всех элементов призов
                    {{ form_widget(form.incDurationMinElem) }} Всем минимальным</span>
                    <div>
                        Уведомление о событии {{ form_widget(form.incDurationMinElemMess, {'attr': {'id': 'event_notification'}}) }}
                    </div>
                </div>
                <div style="border: 1px solid rgb(224, 224, 224); border-radius: 5px 5px 5px 5px; padding: 10px; margin-bottom: 5px;">
                    {{ form_widget(form.incFlipAmountActv) }} Вкл.
                    <span style="margin: 0 0 0 20px;">Предоставления флиппера следующего уровня на
                    {{ form_widget(form.incFlipAmount) }} перемещений</span>
                    <div>
                        Уведомление о событии {{ form_widget(form.incFlipAmountMess, {'attr': {'id': 'event_notification'}}) }}
                    </div>
                </div>
                <div style="border: 1px solid rgb(224, 224, 224); border-radius: 5px 5px 5px 5px; padding: 10px; margin-bottom: 5px;">
                    {{ form_widget(form.superjumpAmountActv) }} Вкл.
                    <span style="margin: 0 0 0 20px;">Супер прыжок в количестве
                    {{ form_widget(form.superjumpAmount) }}</span>
                    <div>
                        Уведомление о событии {{ form_widget(form.superjumpAmountMess, {'attr': {'id': 'event_notification'}}) }}
                    </div>
                </div>
                <div style="border: 1px solid rgb(224, 224, 224); border-radius: 5px 5px 5px 5px; padding: 10px; margin-bottom: 5px;">
                    {{ form_widget(form.incDurationAllElemActv) }} Вкл.
                    <span style="margin: 0 0 0 20px;">Увеличения длительности всех элеиентов призов на
                    {{ form_widget(form.incDurationAllElem) }} Вообще всем</span>
                    <div>
                        Уведомление о событии {{ form_widget(form.incDurationAllElemMess, {'attr': {'id': 'event_notification'}}) }}
                    </div>
                </div>
                <div style="padding-bottom: 20px; margin-top: 20px;">
                <span style="font-size: 28px; padding-left: 35%;"><b>Санкции</b></span>
                </div>
                <div style="border: 1px solid rgb(224, 224, 224); border-radius: 5px 5px 5px 5px; padding: 10px; margin-bottom: 5px;">
                    {{ form_widget(form.decPointsActv) }} Вкл.
                    <span style="margin: 0 20px;">Количество убавляемых игровых очков {{ form_widget(form.decPoints) }}</span>
                    {{ form_widget(form.decPointsProc) }} в %
                    <div>
                        Уведомление о событии {{ form_widget(form.decPointsMess, {'attr': {'id': 'event_notification'}}) }}
                    </div>
                </div>
                <div style="border: 1px solid rgb(224, 224, 224); border-radius: 5px 5px 5px 5px; padding: 10px; margin-bottom: 5px;">
                    {{ form_widget(form.decFlipAmountActv) }} Вкл.
                    <span style="margin: 0 0 0 20px;">Предоставления флиппера уровня ниже на
                    {{ form_widget(form.decFlipAmount) }}</span>
                    <div>
                        Уведомление о событии {{ form_widget(form.decFlipAmountMess, {'attr': {'id': 'event_notification'}}) }}
                    </div>
                </div>
                <div style="border: 1px solid rgb(224, 224, 224); border-radius: 5px 5px 5px 5px; padding: 10px; margin-bottom: 5px;">
                    {{ form_widget(form.superjumpCancelActv) }} Вкл. Аннулирование счетчика суперпрыжков
                    <div>
                        Уведомление о событии {{ form_widget(form.superjumpCancelMess, {'attr': {'id': 'event_notification'}}) }}
                    </div>
                </div>
                <div style="border: 1px solid rgb(224, 224, 224); border-radius: 5px 5px 5px 5px; padding: 10px; margin-bottom: 5px;">
                    {{ form_widget(form.activeCancelActv) }} Вкл. Аннулирование активного счета
                    <div>
                        Уведомление о событии {{ form_widget(form.activeCancelMess, {'attr': {'id': 'event_notification'}}) }}
                    </div>
                </div>
                <div style="border: 1px solid rgb(224, 224, 224); border-radius: 5px 5px 5px 5px; padding: 10px; margin-bottom: 5px;">
                    {{ form_widget(form.firstFlipperActv) }} Вкл. Предоставление флиппера первого уровня
                    <div>
                        Уведомление о событии {{ form_widget(form.firstFlipperMess, {'attr': {'id': 'event_notification'}}) }}
                    </div>
                </div>
                <div style="border: 1px solid rgb(224, 224, 224); border-radius: 5px 5px 5px 5px; padding: 10px; margin-bottom: 5px;">
                    {{ form_widget(form.blackPointActv) }} Вкл. Попадание в Черную точку
                    <div>
                        Уведомление о событии {{ form_widget(form.blackPointMess, {'attr': {'id': 'event_notification'}}) }}
                    </div>
                </div>
                <div style="border: 1px solid rgb(224, 224, 224); border-radius: 5px 5px 5px 5px; padding: 10px; margin-bottom: 5px;">
                    {{ form_widget(form.delElemGroupActv) }} Вкл. Удаление максимально полной группы элементов приза
                    <div>
                        Уведомление о событии {{ form_widget(form.delElemGroupMess, {'attr': {'id': 'event_notification'}}) }}
                    </div>
                </div>
                <div style="border: 1px solid rgb(224, 224, 224); border-radius: 5px 5px 5px 5px; padding: 10px; margin-bottom: 5px;">
                    {{ form_widget(form.decDurationAllElemActv) }} Вкл.
                    <span style="margin: 0 0 0 20px;">Уменьшения длительности элементов призов для всех на
                    {{ form_widget(form.decDurationAllElem) }}</span>
                    <div>
                        Уведомление о событии {{ form_widget(form.decDurationAllElemMess, {'attr': {'id': 'event_notification'}}) }}
                    </div>
                </div>
             </div>
            <div style="float: left; padding-left: 28%;">
        <button type="submit" class="btn btn-large btn-primary" style="padding: 11px; margin-bottom: 5px;"><i class="icon-hdd"></i>Сохранить</button>
        <a href="{{ path('preview_message', {'id': message.id}) }}" class="control control-9 iframe cboxElement"><button style="padding: 11px; margin-bottom: 5px; width: 133px;" type="button" class="btn btn-large btn-warning"><i class="icon-eye-open"></i>Просмотр</button></a>
        <a href="{{ path('messages_list')}}"><button style="padding: 11px; margin-bottom: 5px; width: 133px;" class="btn btn-large btn-inverse" type="button"><i class="icon-list"></i>К списку</button></a>
    </div>
        </form>
    </div>
<!--
    <br />
<a href="{{ path('messages_list')}}">
    <button class="btn" type="button">Вернутся к списку</button>
</a>-->

                
{% endblock body %}
                