{% extends 'GalaxyBackendBundle::layout.html.twig' %}

{% block body %}
<style>
   .input-mini-mini {
        width: 30px;
   }
</style>
<table class="table table-bordered table-striped table-hover">
    <thead style="background-color: #f6f7f8; background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);">
        <tr>
            <td style="padding: 4px; text-align: center;" rowspan="2">Приз</td>
            <td style="padding: 4px; text-align: center;" rowspan="2">Элемент</td>
            <td style="padding: 4px; text-align: center;" colspan="4">Вариант 1</td>
            <td style="padding: 4px; text-align: center;" colspan="4">Вариант 2</td>
            <td style="padding: 4px; text-align: center;" colspan="4">Вариант 3</td>
            <td style="padding: 4px; text-align: center; width:38px" rowspan="2"> </td>
        </tr>
        <tr>
            <td style="padding: 4px; text-align: center; width:38px">a</td>
            <td style="padding: 4px; text-align: center; width:38px">b</td>
            <td style="padding: 4px; text-align: center; width:38px">c</td>
            <td style="padding: 4px; text-align: center; width:38px">delta</td>
            <td style="padding: 4px; text-align: center; width:38px">a</td>
            <td style="padding: 4px; text-align: center; width:38px">b</td>
            <td style="padding: 4px; text-align: center; width:38px">c</td>
            <td style="padding: 4px; text-align: center; width:38px">delta</td>
            <td style="padding: 4px; text-align: center; width:38px">a</td>
            <td style="padding: 4px; text-align: center; width:38px">b</td>
            <td style="padding: 4px; text-align: center; width:38px">c</td>
            <td style="padding: 4px; text-align: center; width:38px">delta</td>
        </tr>
    </thead>
    {% for element in elements %}
        {%set formId = 'element' ~ element['element']['id'] %} 
        <tr>
            <td style="padding: 4px; text-align: center;">{{element['prize']}}</td>
            <td style="padding: 4px; text-align: center;">{{element['element']['name']}}</td>
            <td>
                {{form_widget(element['form']['a1'], {attr:{form: formId} })}}
            </td>
            <td>
                {{form_widget(element['form']['b1'], {attr:{form: formId} })}}
            </td>
            <td>
                {{form_widget(element['form']['c1'], {attr:{form: formId} })}}
            </td>
            <td>
                {{form_widget(element['form']['delta1'], {attr:{form: formId} })}}
            </td>
            <td>
                {{form_widget(element['form']['a2'], {attr:{form: formId} })}}
            </td>
            <td>
                {{form_widget(element['form']['b2'], {attr:{form: formId} })}}
            </td>
            <td>
                {{form_widget(element['form']['c2'], {attr:{form: formId} })}}
            </td>
            <td>
                {{form_widget(element['form']['delta2'], {attr:{form: formId} })}}
            </td>
            <td>
                {{form_widget(element['form']['a3'], {attr:{form: formId} })}}
            </td>
            <td>
                {{form_widget(element['form']['b3'], {attr:{form: formId} })}}
            </td>
            <td>
                {{form_widget(element['form']['c3'], {attr:{form: formId} })}}
            </td>
            <td>
                {{form_widget(element['form']['delta3'], {attr:{form: formId} })}}
            </td>
            <td>
                <div style="display: none">
                    <form id="{{formId}}" method="POST" action="{{path('element_change_coords_save', {id: element['element']['id']})}}" >
                        {{form_rest(element['form'])}}
                    </form>
                </div>
                <button title="Сохранить" type="submit" class="btn btn-primary" form="{{formId}}"><i class="icon-hdd"></i><!--Сохранить--></button>
            </td>
        </tr>
    {% endfor%}
</table>
{% endblock %}