{# empty Twig template #}
{% extends 'GalaxyBackendBundle::layout.html.twig' %}

{% block body %}
<form method="post" action="{{path('update_register', {'id': register['id']})}}">
    {{ form_errors(form) }}
{% if register['id'] == 1 %}
        
        {{ form_row(form.title) }}
        {{ form_row(form.pointsTypeName) }}
        {{ form_row(form.start) }}
        {{ form_row(form.accountHint) }}
        
{% elseif register['id'] == 2 %}
        
        {{ form_row(form.title) }}
        {{ form_row(form.period) }}
        {{ form_row(form.periodCost) }}
        {{ form_row(form.acquisitionExtensionServices) }}
        {{ form_row(form.accountHint) }}
        
{% elseif register['id'] == 3 %}
        
        {{ form_row(form.title) }}
        {{ form_row(form.pointsTypeName) }}
        {{ form_row(form.start) }}
        {{ form_row(form.accountHint) }}
        {{ form_row(form.pointsTypeHint) }}
        {{ form_row(form.textPaymentService) }}
        {{ form_row(form.points) }}
        {{ form_row(form.cost) }}
        {{ form_row(form.notificationZeroBalance) }}
{% endif %}
        <br />
<button class="btn btn-primary" type="submit">Сохранить</button>
</form>
{% endblock body %}