
{% block segment %}
<div class='subtypes-form'>
    {% for type in types %}
    
        {{type.name}}
        <ul class="subtypes unstyled">
            {% for subtype in type.subtypes %}
            <li>
                <form class="form-inline">
                {{ form_row(subtype.pointsCount)}}
                {{ form_row(subtype.block)}}
                {{ form_row(subtype.restore)}}
                {{ form_row(subtype.percent)}}
                {{ form_row(subtype.id)}}
                {{ form_row(subtype.typeId)}}
                <button type="button" class="update-subtype btn btn-primary btn-small">Изменить</button>
                <button type="button" class="remove-subtype btn btn-danger btn-small">Удалить</button>
                    </form>
            </li>
            {% endfor %}
            {% for form in type.form %}
            <li>
                <form class="form-inline">
                {{ form_row(form.pointsCount)}}
                {{ form_row(form.block)}}
                {{ form_row(form.restore)}}
                {{ form_row(form.percent)}}
                {{ form_row(form.id)}}
                {{ form_row(form.typeId)}}
                <button type="button" class="add-subtype btn btn-primary btn-small">Добавить</button>
                </form>
            </li>
            {% endfor %}
        </ul>
    
    {% endfor %}
</div>
{% endblock %}
