{% extends 'GalaxyBackendBundle::layout.html.twig' %}

{% block body %}

<div style="margin-top: 20px; border: 1px solid rgb(224, 224, 224); border-radius: 5px 5px 5px 5px; padding: 20px;">
<form action="{{path('type_config', {'tag': tag})}}" method="POST" {{ form_enctype(form) }}>
    {%set label1%}
       {% if tag == 'theft'%}
        Уменьшение уровня флиппера на 1
       {% elseif tag == 'trap' %}
        Тип 1
       {%else%}
        Сообщение
       {%endif%}
    {% endset%}
    {% if tag != 'message'%}
        <div class="point_mes">{{form_row(form.message1, {label: label1})}}</div>
    {% endif %}
    {% if tag == 'theft'%}
        <div class="point_mes">{{form_row(form.message2, {label: 'Уменьшение уровня флиппера на 2'})}}</div>
    {% endif%}
    {% if tag == 'trap'%}
        <div class="point_mes">{{form_row(form.message2, {label: 'Тип 2'})}}</div>
    {% endif%}
    {% if tag == 'message'%}
        <div style="float: left; width: 950px; margin-bottom: 20px;">
            <div style="float: left;">{{ form_row(form.messActive) }}</div>
            <div style="float: left; margin-left: 40px;">{{ form_row(form.messCountDepActive) }}</div>
        </div>
        <div style="margin-bottom: 20px;" class="creation_prizes">{{ form_row(form.messCost) }}<span style="margin-left: 20px;">{{ form_row(form.messCountCost) }}</div>
        
    {% endif %}
    {% if tag == 'black'%}
        <div class="creation_prizes" style="float: left; margin-bottom: 20px; width: 950px;">{{form_row(form.hours, {label: 'Часы'})}}
            <span style="margin-left: 10px;">{{form_row(form.minutes, {label: 'Минуты'})}}</span>
        </div> 
    {% endif%}
        <br /> 
        <br /> 
    {% if type.file1 %}<object type="application/x-shockwave-flash" id="myContent" name="myContent" style="visibility: visible;" data="{{ type.file1 }}" width="290" height="150"><param name="menu" value="false"></object>{% endif %}
    {{form_row(form.fl1, {label: 'Флеш1'})}}
    {{form_row(form.fileDelete1, {label: 'Удалить'})}}
    <br /> 
    <img src="{{ type.file2 }}">
    {{form_row(form.fl2, {label: 'Картинка1'})}}
    {{form_row(form.fileDelete2, {label: 'Удалить'})}}
    <br /> 
    {% if type.file3 %}<object type="application/x-shockwave-flash" id="myContent" name="myContent" style="visibility: visible;" data="{{ type.file3 }}" width="290" height="150"><param name="menu" value="false"></object>{% endif %}
    {{form_row(form.fl3, {label: 'Флеш2'})}}
    {{form_row(form.fileDelete3, {label: 'Удалить'})}}
    <br /> 
    <img src="{{ type.file4 }}">
    {{form_row(form.fl4, {label: 'Картинка2'})}}
    {{form_row(form.fileDelete4, {label: 'Удалить'})}}
    <div style="display:none;">{{form_rest(form)}}</div>
    <br />
    <button type="submit" class='btn btn-primary'><i class="icon-hdd"></i>Сохранить</button>
</form>
{% endblock %}